WEB_ORIGIN=http://SEU_IP_PUBLICO
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=dbcompare-d1bc2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dbcompare-d1bc2
VITE_FIREBASE_STORAGE_BUCKET=dbcompare-d1bc2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
